@model IEnumerable<HW06072020_1.Models.Product>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<h3>This is product list page</h3>


@foreach (var item in Model)
{
    @item
}

<br>
<table class="product-table" border="1">
    <caption>Product table</caption>
    <tr>
        <th>ID  </th>
        <th>NAME  </th>
        <th>Price  </th>
        <th>Description   </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.Id</td>
            <td> @item.Name</td>
            <td> @item.Price</td>
            <td> @item.Description</td>
        </tr>

        

    }

</table>