h2 {
    color: red;
    font-size: 30;
    text-align: center;
    text-align: center; /*  tac tab */
    
}

.chapter {
    color: black;
}

#begin{
    color: orange;
    font-weight: bold;
}
.text{
    font-weight: 900;
    text-transform: uppercase;
}